<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>main</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.fedorlukin.socialspypro.weekly</string>
		<key>title</key>
		<string>Weekly</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>badge</key>
		<string></string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.fedorlukin.socialspypro.monthly</string>
		<key>title</key>
		<string>Daily</string>
		<key>divide_value</key>
		<integer>31</integer>
		<key>badge</key>
		<string></string>
	</dict>
</array>
<key>alternative</key>
<array>
	<dict>
		<key>product_id</key>
		<string>com.fedorlukin.socialspypro.alternative.weekly</string>
		<key>title</key>
		<string>Weekly</string>
		<key>divide_value</key>
		<integer>1</integer>
		<key>price_title</key>
		<string>Try for FREE</string>
		<key>badge</key>
		<string>-39%</string>
	</dict>
	<dict>
		<key>product_id</key>
		<string>com.fedorlukin.socialspypro.alternative.monthly</string>
		<key>title</key>
		<string>Daily</string>
		<key>divide_value</key>
		<integer>45</integer>
		<key>price_title</key>
		<string>Try for FREE</string>
		<key>badge</key>
		<string>-59%</string>
	</dict>
</array>
<key>default_tarifs</key>
<string>main</string>
<key>alternative_delay_time</key>
<integer>1800</integer>
<key>is_live</key>
<true/>
</dict>
</plist>
